@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply font-sans;
  @apply text-gray-900;
  @apply antialiased;
  @apply bg-gray-100;

  width: clamp(50%, 680px, 100%);
  min-height: 100vh;
  margin: auto;
  padding: 24px;
}

@layer utilities {
  @variants hover, focus, invalid {
    .app-border-error {
      @apply border-2;
      @apply border-red-300;
    }
  }
}
